[user]
	name = Chi_Tang
	email = me@chitang.dev
	signingkey = AEDF1BB86A40BB8225BDF751DF94909C825CF811 
[commit]
	gpgSign = true
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential "https://dev.azure.com"]
	useHttpPath = true
[push]
	autoSetupRemote = true
	followTags = true
[protocol "file"]
	allow = always
[credential "https://notabug.org"]
	provider = generic
[color]
	ui = auto
[credential "https://huggingface.co"]
	provider = generic
#[url "https://mirrors.tuna.tsinghua.edu.cn/git/AOSP/"]
#	insteadof = https://android.googlesource.com
[cola]
	startupmode = list
[tag]
	sort = version:refname
