[Unit]
Description=aria2 Daemon

[Service]
Type=forking
ExecStart=/usr/bin/aria2c --conf=/home/chitang/.config/aria2/aria2.daemon

[Install]
WantedBy=default.target
